/*Variables*/
/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*index*/
.logo-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  object-fit: contain;
  justify-content: center;
  background-color: black;
  align-items: center;
  margin: auto;
  color: white;
  text-align: center;
}

.logo img {
  height: 180px;
}

/*Contenido*/
.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
  transition-duration: 1s;
}

@media (max-width: 767px) {
  .img-card {
    opacity: 100%;
  }
}
.link-banner-left {
  border-bottom: 1px solid black;
  overflow: hidden;
  object-fit: cover;
}

.link-banner-left a {
  text-decoration: none;
}
.link-banner-left a:hover img {
  opacity: 100%;
}

.link-banner-right a {
  text-decoration: none;
}

.link-banner-right {
  border-top: 1px solid black;
  overflow: hidden;
  object-fit: cover;
}

.link-banner-right:hover img {
  transition: 1s;
  opacity: 100%;
}

/*Productos*/
.card button {
  transition-duration: 1s;
}

.card:hover button {
  background-color: rgba(25, 141, 195, 0.8196078431);
  width: 300px;
  transition: 1s;
  border-radius: 20px;
  color: black;
}

.card-body a {
  text-decoration: none;
  color: black;
}

.img-product {
  width: 150px;
  height: 150px;
  object-fit: cover;
  text-align: center;
  padding: 10px;
  transition-duration: 1s;
}

.card:hover img {
  transition: 1s;
  transform: scale(1.3);
}

/*Sobre-Nosotros*/
/*Carousel*/
.slider-section {
  background: url(../assets/natacion/aguadefondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.about-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 902px) {
  .about-area {
    flex-wrap: wrap;
  }
}

.about-tittle {
  margin: 20px;
}
.about-tittle h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 1.2;
  color: color;
}

.slide-about {
  width: 500px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 335px) {
  .slide-about {
    width: 300px;
  }
}
.slide-about #carouselExampleIndicators {
  width: 100%;
  height: 100%;
}

.about-inner {
  text-align: center;
  margin: 10px;
}

.item {
  margin: 10px;
}

.carousel-item {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.415);
}

.btn-2 {
  color: white;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  background: linear-gradient(rgba(25, 141, 195, 0.8196078431), black);
  background-repeat: no-repeat;
  transition: all 0.5s;
  border-radius: 12px;
}
.btn-2:hover {
  box-shadow: 0px 0px 4px 4px rgb(44, 151, 209);
  border-radius: 20px;
  background: linear-gradient(rgba(25, 141, 195, 0.8196078431), black);
  color: white;
}

h2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.4;
  color: color;
}

p {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: color;
}

.carousel-control-prev-about {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 10px;
}

.carousel-control-next-about {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
}

.carousel-control-prev-icon-about, .carousel-control-next-icon-about {
  position: relative;
  top: 200px;
  left: 5px;
  padding: 20px;
  margin: 20px;
  background-color: none;
  background: none;
}

/*Deportes*/
.grid-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 2s;
}
.grid-img img:hover {
  transition: 2s;
  transform: scale(1.5);
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 20px;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(300px, 300px);
  grid-auto-flow: dense;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  place-items: center;
}

.sports {
  font-weight: 800;
  font-size: 200px;
  line-height: 1;
  color: transparent;
  background-image: url(../assets/natacion/natacion.jpg);
  background-clip: text;
  background-size: cover;
  background-position: center;
}

.banner {
  background: rgb(20, 188, 222);
  background: linear-gradient(90deg, rgba(25, 141, 195, 0.8196078431)), rgb(8, 99, 117) 100%;
}

@media (max-width: 830px) {
  .sports {
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    color: transparent;
  }
}
/*Contancto*/
.gradient {
  background: rgb(20, 188, 222);
  background: linear-gradient(90deg, rgba(25, 141, 195, 0.8196078431)), rgb(8, 99, 117) 100%;
}

form .btn {
  background-color: hsl(0, 0%, 100%);
  color: black;
}
form .btn:hover {
  transition: 1s;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
}

.form-control-contact {
  border-radius: 20px;
  border: solid black;
  padding: 10px;
}

.submit {
  transition: all 1s;
  border-radius: 20px;
}
.submit:hover {
  background-color: rgba(25, 141, 195, 0.8196078431);
  border-radius: 20px;
  color: black;
  transition: all 1s;
  background-color: rgba(48, 189, 255, 0.8745098039);
}

/*Navbar*/
.img-nav {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  transition: all 1s;
}
.img-nav:hover {
  border-radius: 100%;
  border: 2px solid #fff;
  transition: all 1s;
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar-expand-lg {
  position: sticky;
  top: 0;
}

.nav-item a {
  margin: 0 10px;
  color: #fff;
  border-radius: 10px;
  transition: all 1s;
  width: max-content;
}
.nav-item a:hover {
  background-color: white;
  border-radius: 20px;
  transform-origin: 0 100%;
  color: black;
  transition: all 1s;
}

form .btn {
  color: #fff;
  background-color: black;
  border-radius: 10px;
  transition: all 1s;
  border: 2px solid #fff;
}
form .btn:hover {
  transition: all 1s;
  background-color: white;
  border-radius: 20px;
  transition: border-radius 1s;
  color: black;
}

/*Carousel*/
.slide-index {
  width: 100%;
  height: 100%;
  margin: 10px, 0, 10px, 0;
  padding: 0px;
}

.slide-index img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(25, 141, 195, 0.8196078431);
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

/*footer*/
footer {
  background-color: black;
  color: white;
}

.form-footer {
  display: flex;
  flex-direction: column;
}

.img-footer {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 80%;
}

.logo-footer {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.reds-socials ul {
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  transition: all 1s;
}
@media (max-width: 767px) {
  .reds-socials ul {
    flex-direction: column;
  }
}
.reds-socials ul li {
  transition: all 0.5s;
  margin: 5px;
}
.reds-socials ul li:hover {
  transform: scale(1.1);
}

/*Textos*/
* {
  font-family: "Oswald", sans-serif;
}

.text-card {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  color: rgba(25, 141, 195, 0.8196078431);
}

.text-card p {
  font-weight: 200;
  font-size: 25px;
  line-height: 1.4;
  color: #1a1818;
}

.text-message {
  border: 2px solid #fff;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
