.img-card-about{
    @include img (100%,100%,cover);
   
}
.about {
    background: url(../assets/natacion/aguadefondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-info {
    background-color: white;
}
