.slide-index {
    width: 100%;
    height: 100%;
    margin:  10px,0,10px,0;
    padding: 0px;
}
.slide-index img {
    @include img(100%,55vh,cover);
 }
.carousel-inner {
    width: 100%;
    height: 100%;
 @include img(100%,55vh,cover);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: $maincolor;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
