footer {
    background-color: black;
    color: #ffff;
}
.form-footer {
    display: flex;
    flex-direction: column;
}
.img-footer {
    @include img(200px,200px,cover);
    border-radius: 80%;
}
.logo-footer {
    @include img(50px,50px,cover);
    border-radius: 100%;
}
.reds-socials ul{
    justify-content: center;
    align-items: center;
    display: flex;
     text-decoration: none;
     list-style-type: none;
     list-style: none;
     transition: all 1s;
     @media(max-width: 767px){
         flex-direction: column;
     }
     li{
        transition: all .5s;
        &:hover{
           transform: scale(1.1);
        }
        margin: 5px;
     }
}
